@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

main {
    background-color: #1e1e1e;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 1) 24%, rgba(30, 30, 30, 1) 100%);
}

h1 {
    font-size: 40px;
    color: aliceblue;
    cursor: default;
}


button {
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    background-color: aquamarine;
    padding: 10px;
    transition: 0.1s ease-in-out;
}

.road {
    border: 5px solid #fff;
    width: 100%;
    border-right: none;
    border-left: none;
}

.img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: bus 1.5s linear infinite;
    object-fit: cover;
}

img {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groundL {
    width: 50px;
    height: 30px;
    background-color: white;
    z-index: 1;
    animation: road 1s linear infinite;
}

@keyframes bus {
    100% {
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0% {
        transform: translateY(-1px);
    }
}

@keyframes road {
   100%{
       transform: translateX(-3400px);
   }
}

.grounds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

button:hover {
    background-color: aqua;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.field label {
    color: azure;
    font-size: 20px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.field input {
    font-weight: bold;
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.success {
    background-color: lightgreen;
    color: #004200;
    padding: 10px;
    font-size: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.error, .empty {
    border-radius: 15px;
    background-color: #ffd6c1;
    color: #f00;
    padding: 10px;
    font-size: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 60px;
    color: #f00;
}