@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #1e1e1e;
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 40px;
    color: aliceblue;
    cursor: default;
}


button {
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    background-color: aquamarine;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: aqua;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.field label {
    color: azure;
    font-size: 20px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.field input {
    font-weight: bold;
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}